.freelancer-signup-wrapper{
    width: 50%;
    margin: auto;
    border: 1px solid rgb(128, 128, 128, 0.5);
    margin: 5rem auto;
    padding: 2rem 0;
    border-radius: 5px;
}
.freelancer-signup{
  width: 60%;
  height: auto;
  margin: auto;
}
.signup-text{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 28px;
  
}
.login-btn{
  width: 100%;
  height: 50px;
  border-radius: 30px;
  outline: none;
  border: none;
  text-align: center;
}
.freelancer-signup #google-btn{
  background-color: #3590eb;
  padding:0 15px ;
  margin: auto;
}
#facebook-btn{
  background-color: white;
  border: 1px solid rgb(128, 128, 128, 0.5);
  padding:0 15px ;
  margin: 1rem 0 ;
}
.google-text{
  color: white;
  margin-left: -15px;
}
.facebook-text{
  margin-left: -15px;
}
.google-icon{
  color: white;
  float: left;
  font-size: 18px;
}
.facebook-icon{
  color: #3590eb;
  float: left;
  font-size: 19px
}
.freelancer-signup .middle-text{
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid rgb(0, 0, 0, 0.3); 
  line-height: 0.1em;
  margin: 1.5rem 0 ; 
}
.middle-text span { 
  background:#fff; 
  padding:0 10px; 
  
}
.names{
  display: flex;
  justify-content: space-between;
}
.names input{
  width: 45%;
}
.sign-up-details{
  width: 100%;
}
.names input, .sign-up-details{
  height: 45px;
  margin-bottom: 1.5rem;
  padding: 0 10px;
  border: 1px solid #707070;
  outline: none;
  border-radius: 5px;
} 
.labels{
  display: flex;
  margin-bottom: 10px;
}
.labels a{
  color: #ff196f;
}
#email-check, #policy-check{
  margin:2px 5px ;
}
#email-check-label,  #policy-check-label{
  font-size: 12px;
}
.freelance-create-btn{
  display: block;
  width: 80%;
  height: 50px;
  border-radius: 30px;
  font-weight: bold;
  outline: none;
  border: 1px solid #707070;
  text-align: center;
  background-color: white;
  margin: auto;
  margin-top: 2rem;
}
.freelancer-signup .login-direct{
  margin: 1rem 0 0 0;
  text-align: center;
  font-size: 14px;
}
.log{
  color: #ff196f;
}

  
@media screen and (max-width:1024px){
  .freelancer-signup-wrapper{
    width: 70%;
  }
  .freelancer-signup{
    width: 70%;
  }
}
@media screen and (max-width:600px){
  .freelancer-signup-wrapper{
    width: 80%;
  }
  .freelancer-signup{
    width: 90%;
  }
}


@media screen and (max-width:350px){
.names{
  display: block;
}
.names input{
  width: 100%;
}

}