.join-wrapper{
    width: 50%;
    margin: auto;
    border: 1px solid rgb(128, 128, 128, 0.5);
    margin: 5rem auto;
    padding: 2rem 0;
    border-radius: 5px;
}
.join-text{
    font-size: 30px;
    text-align: center;
   
}
.options{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}
.option{
    width: 35%;
    height: 150px;
    border: 1px solid rgb(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 1rem;
}
.option input{
    float: right;
}
.option p{
    margin: 40px 0 0 0;
    text-align: center;
}
.create-btn{
    width: 50%;
    height: 50px;
    margin: auto;
    display: block;
    border: 1px solid rgb(128, 128, 128, 0.5);
    border-radius: 30px;
    background-color: white;
    font-size: 16px;
}
.login-direct{
    margin: 1rem 0 0 0;
    text-align: center;
}
.log{
    color: #ff196f;
}


@media screen and (max-width:1024px){
    .join-wrapper{
      width: 70%;
    }
    
  }

  @media screen and (max-width:768px){
    .join-wrapper{
      width: 80%;
    }
    .option p{
        margin: 30px 0 0 0;
    }
  }
  
  
  @media screen and (max-width:600px){
    .join-text{
        font-size: 25px;
      
       
    }
    .option{
        width: 40%;
        height: 100px;
        border: 1px solid rgb(128, 128, 128, 0.5);
        border-radius: 10px;
        padding: 0.5rem;
        font-size: 12px;
       
    }
    .option p{
        margin: 20px 0 0  0 ;
    }
    .create-btn,.login-direct{
        font-size: 14px;
    }
  
  }