.join-wrapper{
    width: 50%;
    margin: auto;
    border: 1px solid rgb(128, 128, 128, 0.5);
    margin: 5rem auto;
    padding: 2rem 0;
    border-radius: 5px;
}
.join-text{
    font-size: 30px;
    text-align: center;
   
}
.options{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}
.option{
    width: 35%;
    height: 150px;
    border: 1px solid rgb(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 1rem;
}
.option input{
    float: right;
}
.option p{
    margin: 40px 0 0 0;
    text-align: center;
   

}