/******************* Global styles   **********************/

.border {
    border: 2px ridge;
}
h1 {
    font-size:4rem;
    line-height: 1.2;
}

.row {
    margin-top: 1rem;
}

.white {
    color:white;
}

/******************* row1   **********************/

.homewrapper {
    padding: 2rem 4rem;
    border: 2px ridge;
}

.row1 {
    display: flex;
    height: 80vh;
}

.row1 .col1 {
    align-self: center;
    max-width: 50%;
    font-weight: 200;
    padding-left: 2rem;
}
.row1 .col1 h1 {
    color: #0F2F8C;
}

.col1 p{
    font-weight: 400;
}

.row1 .col2 {
    background-image: url("./images/image1.svg");
    background-repeat: no-repeat;
    background-size: "cover";
    min-width: 50%;
    max-height: 80vh;
}



/******************* row2   **********************/

.row2Background {
    /* background-image: url("./images/Rectangle9.svg"); */
    /* background-image: linear-gradient(to right, black, #001166); 0, 17, 102 */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 17, 102, 1)); */
    background: rgba(0, 17, 102, 0.0);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
    z-index: -9;

}

.row2 {
    background-image: url("./images/image2.jpg");
    opacity: 1;
    background-repeat: no-repeat;
    color:#000000;
    background-size:cover;
    background-position: 0% 50%;
    height: 90vh;
    width: 100%;
    padding: 3rem;
    padding-top: 2rem;
    border-radius: 10px;
}

.feature {
    height: auto;
    color: #ffffff;
    background-color:#FF196F;
    padding: 2rem 3rem;
    font-size: 300;
    /* marginRightt:"4%"; */
    border-radius:1rem
}

.feature p {
    font-size: inherit;
}
